.content{
    width: 1200px;
}
.content ul{
    margin-top: 20px;
    margin-left: -20px;
}
.content ul li{
    margin-bottom: 20px;
    margin-left: 20px;
}
.content ul li img{
    opacity: 1;

    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}
.content ul li img:hover{
    opacity: 0.5;
}